// ================================================================
// CSS Custom Property
// ================================================================
:root {
  --heightHeader: 96px;
}
// ================================================================
// Sass Variable
// ================================================================
$heightHeader: var(--heightHeader);
$heightFooter: 80px;
$widthBezel: 15px;
$widthLimitOuter: 1200px + $widthBezel * 2;
$widthLimitInner: 1000px;
$colorBtnDefault: #f7d43f;
$colorBlack: #171717;
$colorWhite: #ffffff;
$breakpoint: 768px;
// ================================================================
// Sass Mixin
// ================================================================
@mixin mq {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}
@mixin fontFamily {
  font-family: "Noto Serif", serif;
  font-family: "Noto Serif JP", serif;
}
// ================================================================
// Media Query Value
// ================================================================
@include mq {
  :root {
    --heightHeader: 36px;
  }
}
// ================================================================
// base
// ================================================================
html {
  font-size: 62.5%;
}
body {
  @include fontFamily;
}
a {
  text-decoration: none;
}

// ================================================================
// layout
// ================================================================

// ================================================================
// module
// ================================================================
.bl_bgiCarousel {
  position: absolute;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  &_wrapper {
    position: relative;
    z-index: -1;
  }
  &_img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}
// ================================================================
// helper
// ================================================================

// ================================================================
// program
// ================================================================